extends layout

block content
  form(action="/form", method="post", enctype="multipart/form-data")
    div
    br
    input(type="text", placeholder="lesson title", name="title")
    div
    br
    input(type="text", placeholder="lesson description", name="description", style="height: 200px;")
    div
    br
    input(type="number", placeholder="hours", name="hours", style="width: 50px;")
    input(type="number", placeholder="minutes", name="minutes", style="width: 50px;")
    div
    br
    input(type="file", name="image")
    label Image
    br
    input(type="file", name="file")
    label File
    div
    br
    input(type="Submit")
